{% extends "@AequationLabo/base_labo.html.twig" %}

{% block title %}Labo Services{% endblock %}

{% block title_h1 -%}{{ ux_icon('symfony', {height: '48px', width: '48px', class: 'text-success'}) }} LABO Services{%- endblock %}

{% block right_content %}
{% set services = app.service.appServices %}
<article>
    <h3 class="mb-0">{{ services|length }} {{ services|length > 1 ? 'services publics' : 'service public' }}</h3>
</article>
{% for service in services %}
<article>
    <div class="grid">
        <div>
            <h4 class="mb-0 pico-color-blue-600">Service ID {{ service.id }}</h4>
            {# <div>ID: <strong>{{ service.id }}</strong></div> #}
            <div>Class: <span class="{{ service.classname ? 'pico-color-green-300' : 'text-muted' }}">{{ service.classname|default('---') }}</span></div>
            <div>Public: <span class="{{ service.classname ? 'pico-color-green-300' : 'pico-color-red-400' }}">{{ validIcon(service.classname, '24px') }}</span></div>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}
