<!DOCTYPE html>
<html {# class="{{ app.service.getDarkmodeClass() }}" #} data-dev="{{ app.environment == 'dev' ? 'true' : 'false' }}">
	<head>
		<meta charset="{{ app.service.getStringEncoder() }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
            {%- if not app.isProdHost() -%}[{{ app.isLocalHost() ? 'LOCAL' : 'NOT PROD'  }} SERVER] - {% endif -%}
            {%- block title -%}{% if webpage|default(false) %}{{ webpage.currentItem ? webpage.currentItem.title|striptags : webpage.title|striptags }}{% else %}{{ Identity.name|default('webpage') }}{% endif %}{% endblock -%}
		</title>
        {% block favicon %}
        <link rel="icon" type="image/svg+xml" href="{% block favicon_url %}{{ asset(app.service.param('favicon.main', 'favicon.svg')) }}{% endblock %}">
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
		{% block javascripts %}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}
		{{ app.service.getTurboMetas() }}
	</head>
	{% block body %}
	{# <body id="app" data-app="{{ app.service.appParams(true, 'public_app') }}" {{ stimulus_controller('globalapp') }}> #}
    <body class="wscss" id="app" {{ stimulus_controller('globalapp') }}>
        {% include '@AequationLabo/partials/_not_prod.html.twig' %}
        {% block option_nav_section %}
        <twig:OptionMenu :webpage="webpage|default(null)" />
        {% endblock %}
        {% block nav_section %}
        <twig:HeaderMenu :webpageOrMenu="webpage|default(null)" :options="true" />
        {% endblock %}
        {# REMOVED ANY BANNER HERE #}
        <div class="main-container">
            {% block main_container %}
                {# main content here #}
                {% for websection in webpage.websections('section', true)|default([]) %}
                    {% include websection.twigfile with {websection: websection} %}
                {% endfor %}
            {% endblock %}
            {# {% include 'partials/_aide.html.twig' %} #}
            {% block footer_section %}
            <twig:Footer :webpage="webpage|default(null)" :footer="webpage.firstWebsection('footer')|default(null)" />
            {% endblock %}
        </div>
		{% block after_container %}
			{# commands, modals, etc. content here #}
		{% endblock %}
	</body>
	{% endblock %}
</html>